@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}}
.formGradient {
  background: linear-gradient(270deg, #013FB8 24.24%, #EF4477 100%);
}